* {
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --mainColor: #ebb6ed;
  --secondaryColor: #ffdefa;
  --thirdColor: #f2cef3;
  --fourthColor: #111217;
  --shadowColor: rgba(0, 0, 0, 19);
}

html {
  font-size: 16px;
  font-family: roboto;
  color: black;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--mainColor);
}


/* header ________________________________ */
header {
  background-color: var(--fourthColor);
  transform: skewY(1deg);
  -webkit-transform: skewY(1deg);
  -moz-transform: skewY(1deg);
  -ms-transform: skewY(1deg);
  -o-transform: skewY(1deg);
  margin-top: -14px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.194);
  z-index: 99;
}
header > article {
    display: flex;
    transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    -o-transform: skewY(-1deg);
    padding-top: 20px;
    
}
.logo {
    height: 65px;
    margin: 0 auto;
}

.loginBtn > svg {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Footer _________________________________ */
footer {
    background-color: var(--fourthColor);
}
footer > img {
    width: 150px;
}

/* Index.html _______________________________ */
.index_section1 {
    flex-direction: column;
    display: flex;
}
.index_section1 > img {
    margin: 0 auto;
    width: 400px;
    margin-top: 3rem;
}

h1 {
    text-align: center;
    margin: 1rem 15rem 0 15rem;
}

.index_section2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top: 8px solid var(--secondaryColor);
    border-bottom: 8px solid var(--secondaryColor);
    padding: 0 15rem;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    margin: 3rem 0;
}
.index_section2 > article {
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
}
.index_section2 > article > button {
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}
.index_section2 > article > button > img {
    max-width: 230px;
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
    -o-transition: .1s ease-in;
}
.index_section2 > article > button > img:hover {
    transform: scale(103%);
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
}
.index_section2 > article > h2 {
    text-align: center;
    font-size: 2rem;
}


